body{
  background-image:  url("https://userscontent2.emaze.com/images/fd3fdddf-0448-4f57-baa6-4c08b60f8baa/9e430b351378dc00510f3c0e0eb75f49.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

#class2, #class3, #class4, #class5, #class6, #class7, #class8, #class9, #class10, #submit, #result{
  display: none;
}
